<p class="titolo">Transazioni</p>
 
<table>
	<tr>
		<th>Annuncio</th>
		<th>Da</th>
		<th>A</th>
		<th>Somma</th>
		<th></th>
	</tr>
 
	<% @transazioni.each do |transazione| %>
		<tr>
			<td><%= link_to "Annuncio", :controller => "annunci", :action => "mostra", :id => transazione.annuncio %> </td>
			<td><%= transazione.offerente %></td>
			<td><%= transazione.lavoratore %></td>
			<td><%= transazione.somma %></td>
			<td><%= link_to "Segnala agli Amministratori", :controller => "messaggi", :action => "segnalaadmin" %> </td>
			
		</tr>
	<% end %>
</table>
