<%= stylesheet_link_tag "micro", media: "all"%>

<%= form_for @message do |f| %>
      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>


  <div class="field">

    <%= f.hidden_field(:sender, :value => current_user.nickname) %>
  </div>
  <div class="field">

    <%= f.label :receiver, "receiver" %><br>

    <%= f.text_field :receiver, :value => params[:to] %>
  </div>
  <div class="field">
    <%= f.label :title, "title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body, "body" %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "send" %>
  </div>
<% end %>
