<%= stylesheet_link_tag "micro", media: "all"%>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @personal_datum.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @personal_datum.surname %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @personal_datum.date_of_birth %>
</p>

<p>
  <strong>City:</strong>
  <%= @personal_datum.city %>
</p>

<p>
  <strong>Actual job:</strong>
  <%= @personal_datum.actual_job %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @personal_datum.phone %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @personal_datum.skills %>
</p>

<%= link_to 'Edit', edit_personal_datum_path(@personal_datum) %> |
<%= link_to 'Back', root_path %>
