<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "style", media:"all"%>
	<%= stylesheet_link_tag "flexslider", media:"all"%>
	<%= javascript_include_tag "jquery-1.7.2.min"%>
	<%= javascript_include_tag "modernizr.custom"%>
	<%= javascript_include_tag "jquery.flexslider-min"%>
	<%= javascript_include_tag "functions"%>
</head>
<body>

	<!-- wrapper -->
	<div id="wrapper" align="center">
		<!-- shell -->
		<div class="shell">
			<!-- container -->
			<div class="container">		
				<!-- header -->
				<header class="header">
				
					<nav id="navigation">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li>
								<a>Annunci</a>
								<ul>
									<li><a href="/Ads/My">I tuoi annunci</a></li>
									<li><a href="/Ads/New">Nuovo annuncio</a></li>
									<li><a href="/Ads/Search">Cerca</a></li>
									<li><a href="/ads">Tutti gli annunci</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Profilo<span></span></a>
								
							</li>
							<li><a>Messaggi</a>
							<ul>
									<li><a href="/messages/new">Nuovo messaggio</a></li>
									<li><a href="/messages">I tuoi messaggi</a></li>
									<li><a href="/messages/admin_report">Report</a></li>
								</ul>
							</li>
							<li><a href="#">Contatti</a></li>
							<li>
								<a href="#">Amministrazione<span></span></a>
								<ul>
									<li><a href="/admin">Gestione</a></li>
									<li><a href="/mod">Moderazione</a></li>
								</ul>
							</li>
							<li>
								<a href="/login">Login<span></span></a>
							</li>
							<li>
								<a href="/users/new">Registrati<span></span></a>
							</li>
						</ul>
					</nav>
					<div class="cl">&nbsp;</div>
				</header>
				<!-- end of header -->
				<p> 
					<% if not current_user%>
						<%= flash[:notice] %>
					<% end %>
				</p>
				<div class="main">
					<!-- slider -->
					<div class="flexslider">
						<!--<ul class="slides">-->
							<li>
								<%= image_tag "time-to-share2.jpg"%>
								<div class="slide-cnt">
								</div>
								<a href="/ads" class="slider-btn"><span>Go to Ads</span></a>
							</li>
							
						</ul>
					</div>
					<!-- end of slider -->
					<!-- cols -->
					<section class="services">
						
							<div class="widget contact-widget" align="left">
							<h2><strong>Contatti:</strong></h2>
							<ul>
								<br>
								<li><strong>Name: </strong>Pasquale Scognamiglio</li>
								<br>
								<li><strong>Name: </strong>Andrea Iacoucci</li>
								<br>
								<li><strong>Name: </strong>Ilaria di Lucia</li>
								<br>
								<li><strong>Name: </strong>Alessandra Griesi</li>
								<br>
								<li><strong>Email: </strong>info@timesharing.org</li>
							</ul>
						</div>	
						
						<div class="cl">&nbsp;</div>
					</section>
					<!-- end of services -->

				</div>
				<!-- end of main -->
			</div>
			<!-- end of container -->	
			<div class="footer">
				<nav class="footer-nav"></nav>			
			</div>
		</div>
		<!-- end of shell -->
	</div>
	<!-- end of wrappert -->
</body>
</html>