<%= stylesheet_link_tag "micro", media: "all"%>
<h1>Come usare il sito</h1>
Per usare la maggior parte delle funzioni fornite da questo sito è necessario registrare (gratuitamente, ora e per sempre) un account. Per fare ciò basta andare su <%= link_to "Registrati", "/signup" %> e riempire il brevissimo questionario. <br><br>
Una volta registrati siete già pronti per utilizzare pressoché tutte le funzioni del sito. Potrete infatti accedere agli annunci presenti sulla piattaforma, scrivere a chi li ha pubblicati per accordarvi e pubblicare un annuncio a vostra volta.<br><br>
Per accedere agli annunci vi basterà andare su <%= link_to "Annunci", "/ads" %> oppure premere l'apposito collegamento nella barra di navigazione della homepage.<br><br>
Per inserire un vostro annuncio, allo stesso modo vi basterà premere <%= link_to "Inserisci annuncio", "/ads/new" %> oppure seguire il collegamento in homepage.<br><br>
Dato che la piattaforma implementa anche un sistema di messaggistica interna, potrete accedere ai vostri messaggi tramite questo link <%= link_to "Messaggi", "/messages" %> oppure lo stesso link inserito in homepage.<br><br>
Il team di sviluppo di TimeSharing vi augura una buona esperienza sulla piattaforma, e per qualsiasi problema non esitate a contattarci via <%= link_to "Scrivi agli amministratori", "/admin_report" %>
