<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag "style", media:"all"%>
	<%= stylesheet_link_tag "flexslider", media:"all"%>
	<%= javascript_include_tag "jquery-1.7.2.min"%>
	<%= javascript_include_tag "modernizr.custom"%>
	<%= javascript_include_tag "jquery.flexslider-min"%>
	<%= javascript_include_tag "functions"%>
</head>
<body>

	<!-- wrapper -->
	<div id="wrapper" align="center">
		<!-- shell -->
		<div class="shell">
			
			<!-- container -->
			<div class="container">
				<div class="wrapper" align="right">
					<% if current_user.present? %>
						<p>Hi, <%= current_user.nickname %></p>
					<% end %>		
			</div>
				
				<!-- header -->
				<header class="header">
				
					<nav id="navigation">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li>
								<a>Annunci</a>
								<ul>
									<li><a href="/Ads/My">I tuoi annunci</a></li>
									<li><a href="/Ads/New">Nuovo annuncio</a></li>
									<li><a href="/Ads/Search">Cerca</a></li>
									<li><a href="/ads">Tutti gli annunci</a></li>
								</ul>
							</li>
							<li>
								<%= link_to "Profilo", "/users/#{current_user.id}" %>
								
							</li>
							<li><a>Messaggi</a>
							<ul>
									<li><a href="/messages/new">Nuovo messaggio</a></li>
									<li><a href="/messages">I tuoi messaggi</a></li>
									<li><a href="/messages/admin_report">Report</a></li>
								</ul>
							</li>
							<li><a href="/welcome/contatti">Contatti</a></li>
							<li>
								<a href="#">Amministrazione<span></span></a>
								<ul>
									<li><a href="/admin">Gestione</a></li>
									<li><a href="/mod">Moderazione</a></li>
								</ul>
							</li>
							<li>
								<% if not current_user %>
								<a href="/login">Login<span></span></a>
								<% else%>
								<%= link_to "Logout", "/logout" , method: :delete %>
								<% end%>
							</li>
							<li>
								<a href="/users/new">Registrati<span></span></a>
							</li>
							
						</ul>
					</nav>
					<div class="cl">&nbsp;</div>
				</header>
				<!-- end of header -->
				<p> 
					<% if not current_user %>
						<%= flash[:notice] %>
					<% end %>
				</p>
				<div class="main">
					<!-- slider -->
					<div class="flexslider">
						<!--<ul class="slides">-->
							<li>
								<%= image_tag "time-to-share2.jpg"%>
								<div class="slide-cnt">
								</div>
								<a href="/ads" class="slider-btn"><span>Go to Ads</span></a>
							</li>
							
						</ul>
					</div>
					<!-- end of slider -->
					<!-- cols -->
					<section class="cols">
						<div class="col">
							<h3><a href="/ads">Annunci</a></h3>
							<p>Inserisci un tuo annuncio, facci sapere di cosa hai bisogno e la nostra community ti aiuterà!<br />
							</p>
							
						</div>

						<div class="col">
							<h3><a>La nostra idea</a></h3>
							<p>Abbiamo creato TimeSharing per chi ha bisogno di aiuto, per far si che la genta sfrutti il proprio tempo libero per tutte quelle persone che cercano un servizio in modo veloce e gratuito. </p>
						</div>

						<div class="col">
							<h3><a>Chi Siamo</a></h3>
							<p>Siamo quattro studenti di Ingegneria Informatica, volenterosi e con tanta forza d'animo! Vogliamo aiutare chi ne ha bisogno e da qui sono nati i buoni propositi per creare questo progetto.</p>
						</div>

						<div class="col">
							<h3><a href="/users/new">Registrati</a></h3>
							<p>Entra nella nostra community! Cosa aspetti? Per tutte le informazioni scrivici a questa email: info@timesharing.org <br/>
							</p>
						</div>
						
						<div class="cl">&nbsp;</div>
					</section>
					<!-- end of cols  -->

					<!-- services -->
					<section class="services">
						
							<h3>Time Sharing</h3>
							<p>Questa Applicazione serve a tutti noi per condividere il proprio tempo.
								<br> Vuoi metterti all'opera? Hai molte capacità? Hai tempo Libero per condividere le tue esperienze? Benissimo, Time Sharing è il servizio che ti dà la possibilità di condividere il tuo tempo libero per fare una buona azione!
							</p>
										
						
						<div class="cl">&nbsp;</div>
					</section>
					<!-- end of services -->

				</div>
				<!-- end of main -->
			</div>
			<!-- end of container -->	
			<div class="footer">
				<nav class="footer-nav"></nav>			
			</div>
		</div>
		<!-- end of shell -->
	</div>
	<!-- end of wrappert -->
</body>
</html>
