<h1> Homepage </h1>

<%= link_to 'Messages', "/messages" %>
<%= link_to 'My Ads', "/Ads/My" %>
<%= link_to 'New Ad', "/Ads/New" %>

<%= form_tag("result", :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search]%>
<%= submit_tag "Search" %>
<% end %>
