<!DOCTYPE html>
<html>
<head>


	<meta charset="utf-8" />
	<title>Proper - Free CSS template by ChocoTemplates.com</title>

	<link rel="shortcut icon" type="image/x-icon" href="/app/assets/stylesheets/images/favicon.ico"/>
	
	<%= stylesheet_link_tag "style", media:"all"%>
	<%= stylesheet_link_tag "flexslider", media:"all"%>
	<%= javascript_include_tag "jquery-1.7.2.min"%>
	<%= javascript_include_tag "modernizr.custom"%>
	<%= javascript_include_tag "jquery.flexslider-min"%>
	<%= javascript_include_tag "functions"%>
	
</head>
<body>

	<!-- wrapper -->
	<div id="wrapper" align="center">
		<!-- shell -->
		<div class="shell">
			<!-- container -->
			<div class="container">
							
				<!-- header -->
				<header class="header">
					<h1 id="logo"><a href="#">Proper</a></h1>
					<nav id="navigation">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li>
								<a>Ads</a>
								<ul>
									<li><a href="/Ads/My">Your Ads</a></li>
									<li><a href="/Ads/New">New Ads</a></li>
									<li><a href="/Ads/Search">Search</a></li>
									<li><a href="/ads">All Ads</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Profile<span></span></a>
								
							</li>
							<li><a>Messages</a>
							<ul>
									<li><a href="/messages/new">New Messages</a></li>
									<li><a href="/messages">Your Messages</a></li>
									<li><a href="/messages/admin_report">Report</a></li>
								</ul>
							</li>
							<li><a href="#">Contact</a></li>
							<li>
								<a href="#">Bonus Pages<span></span></a>
								<ul>
									<li><a href="/admin">Administration</a></li>
									<li><a href="/mod">Moderation</a></li>
								</ul>
							</li>
							<li>
								<a href="/login">Sign in<span></span></a>
							</li>
							<li>
								<a href="/users/new">Sign up<span></span></a>
							</li>
						</ul>
					</nav>
					<div class="cl">&nbsp;</div>
				</header>
				<!-- end of header -->
				<div class="main">
					<!-- slider -->
					<div class="flexslider">
						<ul class="slides">
							<li>
								<%= image_tag "time-to-share.jpg"%>
								<div class="slide-cnt">
								</div>
								<a href="/ads" class="slider-btn"><span>Go to Ads</span></a>
							</li>
							<li>
								<%= image_tag "register.png"%>
								
								<div class="slide-cnt" align="left">
									
								</div>

								<a href="/users/new" class="slider-btn"><span>Sign Up</span></a>
							</li>
							<li>
								<%= image_tag "sign-in.png"%>
								<a href="/login" class="slider-btn"><span>Sign in</span></a>
							</li>
						</ul>
					</div>
					<!-- end of slider -->
					<!-- cols -->
					<section class="cols">
						<div class="col">
							<h3><a href="#">Annunci</a></h3>
							<p>Inserisci un tuo annuncio, facci sapere di cosa hai bisogno e la nostra community ti aiuterà!<br />
							</p>
							
						</div>

						<div class="col">
							<h3><a href="#">La nostra idea</a></h3>
							<p>Abbiamo creato TimeSharing per chi ha bisogno di aiuto, per far si che la genta sfrutti il proprio tempo libero per tutte quelle persone che cercano un servizio in modo veloce e gratuito. </p>
							
						</div>

						

						<div class="col">
							<h3><a href="#">Chi Siamo</a></h3>
							<p>Siamo quattro studenti di Ingegneria Informatica, volenterosi e con tanta forza d'animo! Vogliamo aiutare chi ne ha bisogno e da qui sono nati i buoni propositi per creare questo progetto.</p>
							
						</div>
						<div class="cl">&nbsp;</div>
					</section>
					<!-- end of cols  -->

					<!-- services -->
					<section class="services">
						<div class="widget">
							<h3>Time Sharing</h3>
							<p>Questa Applicazione serve a tutti noi per condividere il proprio tempo.
								<br> Vuoi metterti all'opera? Hai molte capacità? Hai tempo Libero per condividere le tue esperienze? Benissimo, Time Sharing è il servizio che ti dà la possibilità di condividere il tuo tempo libero per fare una buona azione!
							</p>
						</div>
						<div class="widget contact-widget">
							<h3>Contact Us</h3>
							<ul>
								<li>Time Sharing</li>
								<li><strong>Name: </strong>Pasquale Scognamiglio</li>
								<li><strong>Name: </strong>Andrea Iacoucci</li>
								<li><strong>Name: </strong>Ilaria di Lucia</li>
								<li><strong>Name: </strong>Alessandra Griesi</li>
								<li><strong>Email:</strong>timesharing@gmail.com</li>
							</ul>
						</div>
						
						<div class="cl">&nbsp;</div>
					</section>
					<!-- end of services -->

				</div>
				<!-- end of main -->
			</div>
			<!-- end of container -->	
			<div class="footer">
				<nav class="footer-nav"></nav>			
			</div>
		</div>
		<!-- end of shell -->
	</div>
	<!-- end of wrappert -->
</body>
</html>
