<h1>Welcome </h1>
	
	
	<%= link_to 'Sign up', "/users/new" %>	
	<%= link_to 'Messages', "/messages" %>
	<%= link_to 'Login', "/login"  %>
	<%= link_to 'New Message', '/messages/new' %>
	<%= link_to "Log Out", '/logout', method: :delete %>
<p> </p>
