<h1>Listing users</h1>
<%= stylesheet_link_tag "micro", media: "all"%>
<table>
  <thead>
    <tr>
    <th>Name</th>
	<th>Email</th>
	<th>Registration Date</th>
	<th></th>
	<th></th>
	<th></th>
    </tr>
  </thead>

  <tbody>
	<tr>
	
    <% @users.each do |user| %>
      <tr>
	<td><%= user.nickname %></td>
	<td><%= user.email %></td>
	<td><%= user.created_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
