<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "micro", media: "all"%>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Registration Date:</strong>
  <%= @user.created_at %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
