<%= stylesheet_link_tag "micro", media: "all"%>

<p class="titolo">Close this Ad</p>


<%= form_for @transaction do |f| %>



  <div class="field">

    <%= f.hidden_field(:from, :value => current_user.nickname) %>
	<%= f.hidden_field(:ad, :value => params[:id]) %>
  </div>
  <div class="field">

    <%= f.label :to, "to" %><br>
	<%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :amount, "amount" %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
