<%= stylesheet_link_tag "micro", media: "all"%>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_platform_datum.user_id %>
</p>

<p>
  <strong>Access:</strong>
  <%= @user_platform_datum.access %>
</p>



<p>
  <strong>Wallet:</strong>
  <%= @user_platform_datum.wallet %>
</p>

<%= link_to 'Back', root_path %>
