<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @utente.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @utente.cognome %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @utente.nickname %>
</p>

<p>
  <strong>Data nascita:</strong>
  <%= @utente.data_nascita %>
</p>

<p>
  <strong>Citta residenza:</strong>
  <%= @utente.citta_residenza %>
</p>

<p>
  <strong>Professione:</strong>
  <%= @utente.professione %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utente.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @utente.telefono %>
</p>

<p>
  <strong>Competenze:</strong>
  <%= @utente.competenze %>
</p>

<p>
  <strong>Portafoglio:</strong>
  <%= @utente.portafoglio %>
</p>

<%= link_to 'Edit', edit_utente_path(@utente) %> |
<%= link_to 'Back', utentes_path %>
