<%= stylesheet_link_tag "micro", media: "all"%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Ad:</strong>
  <%= @transaction.ad.title %>
</p>

<p>
  <strong>From:</strong>
  <%= @transaction.from.nickname %>
</p>

<p>
  <strong>To:</strong>
  <%= @transaction.to.nickname %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Back', transactions_path %>
