<%= form_for(@user_platform_datum) do |f| %>
  <% if @user_platform_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_platform_datum.errors.count, "error") %> prohibited this user_platform_datum from being saved:</h2>

      <ul>
      <% @user_platform_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :access %><br>
    <%= f.number_field :access %>
  </div>
  <div class="field">
    <%= f.label :fullfilling_rating %><br>
    <%= f.number_field :fullfilling_rating %>
  </div>
  <div class="field">
    <%= f.label :applying_rating %><br>
    <%= f.number_field :applying_rating %>
  </div>
  <div class="field">
    <%= f.label :total_rating %><br>
    <%= f.number_field :total_rating %>
  </div>
  <div class="field">
    <%= f.label :wallet %><br>
    <%= f.number_field :wallet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
