<%= form_for(@annuncio) do |f| %>
  <% if @annuncio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@annuncio.errors.count, "error") %> prohibited this annuncio from being saved:</h2>

      <ul>
      <% @annuncio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titolo %><br>
    <%= f.text_field :titolo %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria %>
  </div>
  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_area :descrizione %>
  </div>
  <div class="field">
    <%= f.label :zona %><br>
    <%= f.text_area :zona %>
  </div>
  <div class="field">
    <%= f.label :ore_previste %><br>
    <%= f.text_field :ore_previste %>
  </div>
  <div class="field">
    <%= f.label :scadenza %><br>
    <%= f.date_select :scadenza %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :foto %><br>
    <%= f.text_field :foto %>
  </div>
  <div class="field">
    <%= f.label :richiesta %><br>
    <%= f.check_box :richiesta %>
  </div>
  <div class="field">
    <%= f.label :risolta %><br>
    <%= f.check_box :risolta %>
  </div>
  <div class="field">
    <%= f.label :utente_richiedente %><br>
    <%= f.text_field :utente_richiedente %>
  </div>
  <div class="field">
    <%= f.label :utente_adempiente %><br>
    <%= f.text_field :utente_adempiente %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
