<h1>Listing annuncios</h1>

<table>
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Categoria</th>
      <th>Descrizione</th>
      <th>Zona</th>
      <th>Ore previste</th>
      <th>Scadenza</th>
      <th>Data</th>
      <th>Foto</th>
      <th>Richiesta</th>
      <th>Risolta</th>
      <th>Utente richiedente</th>
      <th>Utente adempiente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annuncios.each do |annuncio| %>
      <tr>
        <td><%= annuncio.titolo %></td>
        <td><%= annuncio.categoria %></td>
        <td><%= annuncio.descrizione %></td>
        <td><%= annuncio.zona %></td>
        <td><%= annuncio.ore_previste %></td>
        <td><%= annuncio.scadenza %></td>
        <td><%= annuncio.data %></td>
        <td><%= annuncio.foto %></td>
        <td><%= annuncio.richiesta %></td>
        <td><%= annuncio.risolta %></td>
        <td><%= annuncio.utente_richiedente %></td>
        <td><%= annuncio.utente_adempiente %></td>
        <td><%= link_to 'Show', annuncio %></td>
        <td><%= link_to 'Edit', edit_annuncio_path(annuncio) %></td>
        <td><%= link_to 'Destroy', annuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annuncio', new_annuncio_path %>
