<%= stylesheet_link_tag "micro", media: "all"%>

<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category, "category" %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :description, "description" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :expected_hours, "expected_hours" %><br>
    <%= f.text_field :expected_hours %>
  </div>
  <div class="field">
    <%= f.label :deadline, "deadline" %><br>
    <%= f.date_select :deadline %>
  </div>
  <%= f.hidden_field(:closed, :value => false) %>
  <%= f.hidden_field(:applicant_user, :value => current_user.nickname) %>

  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
