<h1>Listing ads</h1>
<%= stylesheet_link_tag "micro", media: "all"%>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Expected hours</th>
      <th>Deadline</th>
      <th>Closed</th>
      <th>Applicant user</th>
      <th>Fullfiller user</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.title %></td>
        <td><%= ad.category %></td>
        <td><%= ad.description %></td>
        <td><%= ad.expected_hours %></td>
        <td><%= ad.deadline %></td>
        <td><%= ad.closed %></td>
        <td><%= ad.applicant_user %></td>
        <td><%= ad.fullfiller_user %></td>
        <td><%= link_to 'Show', ad %></td>
		<% if current_user %>
		<% if current_user.nickname == ad.applicant_user and not ad.closed==true %>
		<td><%= link_to 'Close', "/Ads/close/#{ad.id}", method: :post %>
		<% elsif not current_user.nickname == ad.applicant_user %>
        <td><%= link_to 'Accept', "/messages/new/#{ad.applicant_user}" %></td>
		<% else %>
		<td>
		<% end %>
        <% if (current_user.nickname == ad.applicant_user and not ad.closed==true) or check_auth(2) %>
        <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td>
        <td>
        <% end %>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Come back', "/" %>

<%= link_to 'New Ad', new_ad_path %>
