<h1> Ricerca Avanzata </h1>



<%= form_tag("Esito", :method => "get", id: "search-form") do %>
<h3> Nome </h3>
<%= text_field_tag :search, params[:search]%>
<br>
<h3> Titolo </h3>
<%= text_field_tag :search2, params[:search2]%>
<br>
<h3> Descrizione </h3>
<%= text_field_tag :search3, params[:search3]%>
<br>
<h3> Utente </h3>
<%= text_field_tag :search4, params[:search4]%>
<br>

<%= submit_tag "Search Annuncio" %>
<% end %>

<%= link_to 'Back', annuncios_path %>
