<%= stylesheet_link_tag "micro", media: "all"%>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ad.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>


<p>
  <strong>Expected hours:</strong>
  <%= @ad.expected_hours %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @ad.deadline %>
</p>


<p>
  <strong>Closed:</strong>
  <%= @ad.closed %>
</p>

<p>
  <!-- <strong>Applicant user:</strong> -->
  <%= link_to 'Applicant user', "/users/#{@applicant}" %>

  <%= @ad.applicant_user %>
</p>

<p>
  <strong>Fullfiller user:</strong>
  <%= @ad.fullfiller_user %>
</p>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Try%20to%20use: TimeSharing.org%20" data-size="large"> Tweet </a>
<%= link_to 'Back', ads_path %>
<% if @ad.applicant_user == current_user.nickname or check_auth(2) %>
<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Close this ad', "/Ads/close/#{@ad.id}", method: :post %>
<% end %>
<%= link_to 'Come back', "/" %>
